<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Informers menu</title>
 <link rel="stylesheet" type="text/css" href="/css/styles.css">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light my-navbar">
  <a class="navbar-brand" href="#">Open data portal | Ajuntament de València</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

  <div class="signupFrm">
    <div class="form">
      <h1 class="title">Menu</h1>

	  <div class="menu">
       <button class="submitBtn2" type="submit" onclick="location.href='http://localhost:8080/api/informador/index'">Informers</button>
      
       <button class="submitBtn2" type="submit" onclick="location.href='http://localhost:8082/api/validador/index'">Validators</button>
       
       <button class="submitBtn2" type="submit" onclick="location.href='http://localhost:8080/api/informador/index'">Consumers</button>
       
      	</div>
      </div>
 	</div>
  
</body>
</html>