<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>INFORMADORES</title>
 <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <div class="signupFrm">
    <div class="form">
      <h1 class="title">Menu Informadores</h1>

	  <div class="menu">
       <button class="submitBtn2" type="submit" onclick="location.href='http://localhost:8080/api/informador/registro'">Registro Informador</button>
      
       <button class="submitBtn2" type="submit" action="/registro">Subir Fichero</button>
       
       <button class="submitBtn2" type="submit" action="/registro">Listado de Ficheros</button>
       
       <button class="submitBtn2" type="submit" action="/registro">Modificar Fichero</button>
       
       <button class="submitBtn2" type="submit" action="/registro">Eliminar Fichero</button>
      	</div>
      </div>
 	</div>
  
</body>
</html>