<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registro Nuevo Informador</title>
 <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <div class="signupFrm">
    <div class="wrapper">
    <form method="POST" action="/new" class="form">
      <h1 class="title">Nuevo Informador</h1>


	  <div class="inputContainer">
        <input type="number" class="input" placeholder="Id" name="id">
        <label for="" class="label">ID</label>
      </div>
      
	 <div class="inputContainer">
        <input type="text" class="input" placeholder="nombre-empresa" name="name_company">
        <label for="" class="label">Nombre-Empresa</label>
      </div>
      
       <div class="inputContainer">
        <input type="text" class="input" placeholder="nif/cif" name="nif_cif">
        <label for="" class="label">Nif-Cif</label>
      </div>
      
      <div class="inputContainer">
        <input type="text" class="input" placeholder="eMail" name="eMail">
        <label for="" class="label">Email</label>
      </div>

      

      <div class="inputContainer">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">Password</label>
      </div>


      <input type="submit" class="submitBtn" value="Sign up">
    </form>
    </div>
  </div>
</body>
</html>